* { 


    
}

header {
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color:
}

header h1 {
    background-color: 
}

nav {
    border-left: ;
    background-color: ;
    padding-bottom: 20px;

}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
}
li {
    list-style-type: none;

    
}
a {
    color: ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none
}

.about-me {
    color: ;
    background-color: ;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.about-me h2 {
    font-size: 50px;
}

.about-me p {
    padding-left: 100px;
    padding-right: 100px;
}
.projects {
    display: flex;
    flex-flow: wrap row;
    row-gap: 50px; 
    color: ;
    background-color: ;
    justify-content: space-around;
    padding-top: 200px;

}

.projects h2 {
    font-size: 80px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

.projects h3 {
    font-size: 25px;
    text-align: center;
}

.projects h4 {
    text-align: center;
}

.project-1 {
    border:mediumvioletred 4px solid;

}

.project-2 {
    border: 4px blue solid;
}

.project-3 {
    border: 4px green solid;
}


.project-4 {
    border: 4px red solid;
}



.footer {
    color: ;
    background-color: ;
    padding-top: 200px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer h2{
    font-size: 50px;
}

.contact ul {
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact ul li a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}